<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{% block title %}{% endblock %}</title>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap" rel="stylesheet"> -->
 
</head>

<body>

  <nav>
    <div class="logo">College Admission Portal</div>
    <ul>
      <li><a href="{% url 'web_home_page' %}">Home</a></li>
      <li><a href="{% url 'web_registration' %}">Register</a></li>
      <li><a href="{% url 'student_verification' %}">Verify</a></li>
      <li><a href="{% url 'mcq' %}">Entrance Test</a></li>
      <li><a href="{% url 'result' %}">Results</a></li>
    </ul>
  </nav>

  {% block content %}
  
  {% endblock %}

  <footer>
    &copy; 2025 College Admission System | Designed for Excellence
  </footer>

</body>
</html>